body {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-top: 54px;
    color: white;
    background: black;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url("/images/berlin.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 992px) {
    body {
        padding: 0 6rem 0 11rem;
    }
}

.active {
    color: white;
}

/* ========================== */
/* ======= Scrollbar ======== */
/* ========================== */
::-webkit-scrollbar {
    width: 15px;
    display: none;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fdd247;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-weight: 700;
    text-transform: uppercase;
    color: #fdd247;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

p {
    text-align: justify;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 1.5rem;
}

#experience .subheading {
    text-transform: none;
}

.social-icons a {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fdd247;
    color: black !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: white;
}

.dev-icons {
    font-size: 3rem;
}

.dev-icons .list-inline-item i {
    color: #fdd247;
    transition: all 0.2s ease-in-out;
}

.dev-icons .list-inline-item i:hover {
    color: white;
}

#sideNav .navbar-nav .nav-item .nav-link {
    color: #fdd247;
    transition: all 0.2s ease-in-out;
    margin: 0 5px;
}

#sideNav .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#sideNav .navbar-nav .nav-item .nav-link:hover {
    color: white;
}

#sideNav .menu {
    display: flex;
    flex-direction: row;
}

#sideNav .navbar-brand {
    display: none;
}

.navbar {
    justify-content: center !important;
}

h2 {
    font-size: 2.5rem;
}

section.portfolio-section {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

@media (min-width: 992px) {
    h2 {
        font-size: 3.5rem;
    }
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 6rem;
        height: 100vh;
    }
    #sideNav .navbar-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
        max-width: 4rem;
        max-height: 4rem;
        border: 0.2rem solid rgba(255, 255, 255, 0.8);
        position: absolute;
        left: 1rem;
        top: 1rem;
        background: #fdd247;
        transition: all 0.2s ease-in-out;
    }
    #sideNav .navbar-brand .img-profile:hover {
        background: white;
    }
    #sideNav .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: center;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sideNav .menu .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    #sideNav .menu .navbar-nav .nav-item {
        display: block;
    }
    #sideNav .menu .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

section.portfolio-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.portfolio-section {
        min-height: 100vh;
    }
    section.portfolio-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.portfolio-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: black !important;
    box-shadow: 0px 0px 10px 0px white;
}

.text-primary {
    color: #fdd247 !important;
}

a {
    color: #fdd247;
}

a:hover,
a:focus,
a:active {
    color: white;
}

input[type="text"],
input[type="email"],
textarea {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
    background: transparent !important;
    color: #fff !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #fdd247 !important;
}

input::placeholder,
textarea::placeholder {
    color: #ccc !important;
}

.btn-yellow {
    border-radius: 5px;
    border: 1px solid #fdd247;
    background: #fdd247;
    color: black;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.btn-yellow:hover {
    border: 1px solid white;
    background: white;
}

.hide-error {
    position: fixed;
    bottom: 10px;
    left: -180px;
    width: auto;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    transition: left 0.5s ease-in-out;
}

.show-error {
    position: fixed;
    bottom: 10px;
    left: 120px;
    width: auto;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    transition: left 0.5s ease-in-out;
}

.hide-success {
    position: fixed;
    bottom: 10px;
    left: -180px;
    width: auto;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    transition: left 0.5s ease-in-out;
}

.show-success {
    position: fixed;
    bottom: 10px;
    left: 120px;
    width: auto;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    transition: left 0.5s ease-in-out;
}
